<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script defer src="/Ancillary/add.js"></script>
	<link rel="stylesheet" href="/Ancillary/add.css">
	<link rel="icon" href="/Assets/favicon.ico">
	<title>Edit</title>
</head>

<body>
	<div id="main">
		<div id="results">
			<div class="card">
				<div class="title-wrapper">
					<input type="text" class="add" id="title" maxlength="60" placeholder="Name (60 Characters Only)" value="<%= name.replace(/\&lt;/g, '<') %>">
				</div>
				<input type="text" class="add" id="link" maxlength="300" placeholder="Link (300 Characters Only)" value="<%= link?.replace(/%20/g, ' ') %>">
				<div class="cont">
					<textarea class="add" id="content" rows="7" warp="soft" maxlength="1000" placeholder="Content (1000 Characters Only)"><%= cont?.replace(/\&lt;/g, '<') %></textarea>
				</div>
				
				<div class="outer-wrapper">
					<% tags.forEach(elem => { %>
					<div class="tag1" onclick="wrap1.removeChild(this)"><%= elem.name %></div>
					<% }); %>
				</div>
				<div class="outer-wrapper">
					<% proj.forEach(elem => { %>
					<div class="tag2" onclick="wrap2.removeChild(this)"><%= elem.name %></div>
					<% }); %>
				</div>

				<div id="bottom">
					<input list="tags" class="dropdown" placeholder="Add a tag">
					<datalist id="tags">
					</datalist>

					<input list="projects" class="dropdown" placeholder="Add a project">
					<datalist id="projects">
					</datalist>

					<button class="form-btn" title="Save" onclick="sendToServer('PUT')"><img src="/Assets/save.svg" alt="save button"></button>
					<button class="form-btn" title="Cancel" onclick="cancel()"><img src="/Assets/cancel.svg" alt="cancel button"></button>
				</div>
			</div>
			<div id="res_id" style="opacity:0%"><%=id%></div>
		</div>
	</div>
</body>

</html>